



.home-div img{
    width: 90%;
}
.home-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-left h2{
    margin: 10px 0;
}
.home-left button{
    outline: none;
    border: none;
    margin-top: 25px;
    height: 50px;
    padding: 0 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(190deg, darkred, #AD2A34, #DE3C44);
    color: white;
}
.red-text{
    color: #C92B32;
    font-weight: 700;
}

.home-right{
    display: flex;
    justify-content: center;
    align-items: center;
}