

.header-div{
    background: #183153;
    /* margin-top: 50px; */
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.header-div a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 0 20px;
    font-weight: 800;
}

.header-div a:hover{
    color: orange;
}
.header-div a.active {
    color: orange;
    border-bottom: 2px solid orange;
  }
  .header-div a.inactive {
    /* font-style: italic; */
  }
  


.menu-icon{
    background: #0F3047;
    position: fixed;
    top: 0;
    left: 0;
    /* height: 65px; */
    width: 100%;
    color: white;    
    cursor: pointer;
    display: none;
}
.menu-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-logo img{
    width: 50px;
    padding: 5px; 
    margin: 10px 5px;    
}

  @media (max-width: 760px){
    .menu-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-div{
        background: #0F3047;        
        padding: 15px 20px;
        display: flex;
        position: fixed;        
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        border-radius: 0px !important;
        transition: all 0.3s;
        top: 70px;
        width: 70% !important;
        height: 100vh;
        padding-top: 30px;
    }
    .header-div.active{
        left: 0;
    }
    .clickOpen.hidden{
        display: none;
    }
    .clickClose.hidden{
        display: none;
    }

    .header-div-parent{
        background: #0f30476b;
        position: fixed;
        width: 100%;  
        height: 100vh; 
        left: -100%;
        top: 70px;     
        right: 0;
    }
    .header-div-parent.active{
        left: 0;
    }
  }